@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --bark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

img {
  width: 100%;
}

/* CONTENT */
.container {
  padding: 2rem;
}

/* SLIDER */
.slider {
  position: relative;
  height: 85vh;
}

.slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 90%;
  height: 200px;
}

.slider__items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider__items-container::after {
  content: "";
  clear: both;
  display: table;
}

.slider__item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.slider__item.item--active,
.slider__item-next,
.slider__item-prev {
  display: block;
}

.slider__item-next {
  transform: translateX(100%);
}

.slider__item-prev {
  transform: translateX(-100%);
}

.slider__image-container {
  background-image: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 360px;
}

.slider__image {
  border-radius: 5px;
  width: 80%;
  height: 68%;
  position: relative;
  top: 28px;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.1);
}

.slider__text {
  position: relative;
  font-size: 1.15rem;
  text-align: center;
  line-height: 1.4;
}

.slider__text::before {
  content: "";
  position: absolute;
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 60px;
  height: 60px;
  top: -25px;
  left: 40%;
}

.slider__cite {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

.slider__job-position {
  display: block;
  font-weight: 500;
  color: var(--grayish-blue);
}

.slider__controls-container {
  position: absolute;
  top: 36%;
  left: 38%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.slider__control {
  background-color: white;
  padding: 0.3rem 1rem;
  border-radius: 100px;
}

.slider__control-image {
  width: 85%;
}

.control--prev {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.control--next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* HELPERS */
.disabled {
  cursor: default;
  pointer-events: none;
  background-color: #ededed;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 992px) {
}
